@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #334537;
  --color-primary-container: #4a5d4e;
  --color-primary-fixed: #d3e8d5;
  --color-primary-fixed-dim: #b7ccb9;
  --color-bg: #fbf9f5;
  --color-bg-card: #ffffff;
  --color-surface-dim: #dbdad6;
  --color-surface-container: #efeeea;
  --color-surface-container-low: #f5f3ef;
  --color-surface-container-high: #eae8e4;
  --color-surface-container-highest: #e4e2de;
  --color-text: #1b1c1a;
  --color-text-muted: #434843;
  --color-outline: #737872;
  --color-outline-variant: #c3c8c1;
  --color-success: #334537;
  --color-danger: #ba1a1a;
  --color-secondary: #5b6054;
  --color-secondary-container: #dde2d3;
  --color-tertiary: #464136;
  --color-tertiary-container: #5e584c;
}
